{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>AppCoder</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'Home/assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'Home/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->

        {% include 'Home/navbar.html' %}

        <!-- Page Content-->
        <div class="container px-4 px-lg-5">

            {% block BASE_CONTENIDO %}
            
            {% endblock BASE_CONTENIDO %}

            

        </div>
        <!-- Footer-->
        {% include 'Home/footer.html' %}
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'Home/js/scripts.js' %}"></script>
    </body>
</html>
