{% extends 'Home/base.html' %}

{% block BASE_CONTENIDO %}

    <div class="row align-items-center my-5">
        <h1 class="pb-lg-3 text-bg-light">
            {% block INDEX_TITULO %}
                Página de inicio
            {% endblock INDEX_TITULO %}
        </h1>
    </div>

    {% block INDEX_CONTENIDO %}

        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">La Caja de Pandora</h1>
                <p>La Caja de Pandora es un negocio único que te transportará a un mundo de maravillas y misterios. Nuestra selección de productos y servicios te sorprenderá, desde arte y antigüedades hasta experiencias inolvidables. Abre la caja y descubre un universo de posibilidades</p>
                <a class="btn btn-primary" href="https://wa.me/5492619999999999" target="_blank">WhatsApp</a>
            </div>
        </div>

        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">

            {% include 'Home/card.html' with card="Tarjeta 1" saludo="¡Hola!" %}
            {% include 'Home/card.html' with card="Tarjeta 2" %}
            {% include 'Home/card.html' with card="Tarjeta 3" %}
            {% include 'Home/card.html' with card="Tarjeta 4" %}

        </div>
    {% endblock INDEX_CONTENIDO %}

{% endblock BASE_CONTENIDO %}