{% extends 'Home/base.html' %}

{% block TITULO %}
    Búsquedas
{% endblock TITULO %}


{% block CONTENIDO %}

    <h2> Cliente nombre</h2>
    {% for cliente in clientes_nombre %}
        <p>{{ cliente }}</p>
    {% endfor %}

    <h2> Cliente nacimiento </h2>
    {% for cliente in clientes_nacimiento %}
        <p> {{ cliente  }}</p>
    {% endfor %}

    <h2> Cliente país vacío </h2>
    {% for cliente in clientes_pais %}
        <p> {{ cliente }}</p>
    {% endfor %}

    <a href="{% url 'Home:home' %}">Ir al menú principal</a>

{% endblock CONTENIDO %}